name: CI Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Print CI message
        run: echo "CI Running"

      - name: Create artifact
        run: echo "Hello, GitHub Actions!" > output.txt

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: sample-artifact
          path: output.txt
